section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.main {
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #6b6e68;
}

.main h1 {
  font-family: ArchiveGaramondPro;
  font-size: 59.5px;
  font-weight: bold;
  font-style: italic;
  line-height: 0.97;
}

.main h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 5px;
}

a {
  font-family: 'ArchiveGaramondPro-Bold';
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
}
/* gallery section */
#gallery {
  display: flex;
}

#gallery > img {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#gallery h1 {
  margin: 5px;
}

#gallery p {
  text-shadow: 0px 2px 10px rgba(1, 1, 1, 0.2);
  font-family: Montserrat;
  font-size: 19.5px;
  margin: 5px;
  line-height: 1.95;
  text-align: center;
  color: #ffffff;
}

#gallery-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #ffffff;
}

.gallery-area {
  flex: 0 0 33%;
}

#gallery .left-arrow {
  width: 23px;
  height: 92px;
  object-fit: contain;
  float: left;
}
#gallery .right-arrow {
  width: 23px;
  height: 92px;
  object-fit: contain;
  float: right;
}

#gallery .rule {
  width: 161px;
  height: 3px;
}

/* enter section */
#enter {
  background-image: url('../img/enter_background/enter-bg@3x.jpg');
  background-size: cover;
}

#enter > div {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

#enter .enter-step {
  flex: 0 0 33%;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

#enter .rule {
  width: 161px;
  height: 3px;
  filter: invert(70%);
}

#enter .rule-big {
  width: 217px;
  height: 5px;
  vertical-align: top;
}

#enter p {
  font-size: 14px;
}

/* prize section */
#prize > img {
  height: 100%;
  width: 100%;
  // overflow: hidden;
  z-index: 0;
}

// #prize-text {
//   // position: absolute;
//   z-index: 2;
//   color: #ffffff;
// }
