@font-face {
  font-family: 'ArchiveGaramondPro';
  src: url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.eot');
  src: url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.woff') format('woff'),
    url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.ttf') format('truetype'),
    url('../fonts/ArchiveGaramondPro/ArchiveGaramondPro.svg#font-name')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArchiveGaramondPro-Bold';
  src: url('../fonts/ArchiveGaramondPro-Bold/ArchiveGaramondPro-Bold.eot');
  src: url('../fonts/ArchiveGaramondPro-Bold/ArchiveGaramondPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ArchiveGaramondPro-Bold/ArchiveGaramondPro-Bold.woff')
      format('woff'),
    url('../fonts/ArchiveGaramondPro-Bold/ArchiveGaramondPro-Bold.ttf')
      format('truetype'),
    url('../fonts/ArchiveGaramondPro-Bold/ArchiveGaramondPro-Bold.svg#font-name')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArchiveGaramondPro-BoldItalic';
  src: url('../fonts/ArchiveGaramondPro-BoldItalic/ArchiveGaramondPro-BoldItalic.eot');
  src: url('../fonts/ArchiveGaramondPro-BoldItalic/ArchiveGaramondPro-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/ArchiveGaramondPro-BoldItalic/ArchiveGaramondPro-BoldItalic.woff')
      format('woff'),
    url('../fonts/ArchiveGaramondPro-BoldItalic/ArchiveGaramondPro-BoldItalic.ttf')
      format('truetype'),
    url('../fonts/ArchiveGaramondPro-BoldItalic/ArchiveGaramondPro-BoldItalic.svg#font-name')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
